{% for flashMessage in flashbag.get('error') %}
    <div class="bannerMessage critical">
        <h3>{{flashMessage.header}}</h3>
        <div class="messageContent">
          <h4>{{flashMessage.title}}</h4>
          <p>{{flashMessage.message}}</p>
          <div class="messageCommit">
             <button>{{flashMessage.buttonMessage}}</button>
          </div>
        </div>
    </div>
{% endfor %}
{% for flashMessage in flashbag.get('warning') %}
    <div class="bannerMessage error">
        <h3>{{flashMessage.header}}</h3>
        <div class="messageContent">
          <h4>{{flashMessage.title}}</h4>
          <p>{{flashMessage.message}}</p>
          <div class="messageCommit">
             <button>{{flashMessage.buttonMessage}}</button>
          </div>
        </div>
    </div>
{% endfor %}
{% for flashMessage in flashbag.get('success') %}
    <div class="bannerMessage success">
        <h3>{{flashMessage.header}}</h3>
        <div class="messageContent">
          <h4>{{flashMessage.title}}</h4>
          <p>{{flashMessage.message}}</p>
          <div class="messageCommit">
             <button>{{flashMessage.buttonMessage}}</button>
          </div>
        </div>
    </div>
{% endfor %}
{% for flashMessage in flashbag.get('message') %}
    <div class="bannerMessage">
        <h3>{{flashMessage.header}}</h3>
        <div class="messageContent">
          <h4>{{flashMessage.title}}</h4>
          <p>{{flashMessage.message}}</p>
          <div class="messageCommit">
             <button>{{flashMessage.buttonMessage}}</button>
          </div>
        </div>
    </div>
{% endfor %}
